/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;

  
    background-color: #0e0e0e;
}

.contact-form-container {
   border: 5px solid blueviolet; 
   box-shadow: 0 0 1em rgb(14, 1, 248);
    align-self: center;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    
    width: 50%;
    place-self: center;
    margin-top: 3%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#responseMessage {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}
