{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Pacifico&display=swap"
            rel="stylesheet">
    <script src="https://kit.fontawesome.com/b1f8c3edb5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static "mediaQuery.css" %}">
    <link rel="stylesheet" href="{% static "styles.css" %}">
    <link rel="stylesheet" href="{% static "contactStyles.css" %}">
    
</head>
<body>
    <nav>
        <div class="firstTop">
            <h2>Abhishek Kumar</h2>
        </div>

        <div class="firstBottom">

            <h2>Portfolio</h2>

            <h2>Contact To Get My work</h2>

            <a href="\" style="margin-top: .8rem;">
                <i class="fa-solid fa-house" id="icon" style="font-size: 2em; 
                color: white;
                "></i>
            </a>
            
                    
                   
                


            </div>


        </div>
       
        
    </nav>
    <div class="contact-form-container">
        <h2>Contact Us</h2>
        <form action="{% url 'contact' %}" id='contactForm' method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="organization">Organization:</label>
            <input type="text" id="organization" name="organization">

            <label for="subject">Subject:</label>
            <input type="text" id="subject" name="subject" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>

            <button type="submit">Submit</button>
        </form>
        <div id="responseMessage"></div>
    </div>
   
</body>
</html>
